/* Some default styling to get you started */
body {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mobile-btn {
  display: none;
}

/* Add desktop styles here */
#unlogo {
  height: 100px;
}

header {
  background-color: #ffda12;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  display: none;
}

nav, #mynav {
  display: inline-block;
  color: #1a76d0;
}

#mynav li {
  display: inline-block;
}

a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}

a {
  color: #1a76d0;
  text-decoration: none;
  padding: 8px;
}

a:hover {
  background-color: #1a76d0;
  color: white;
}
/* Add mobile styles here */
@media (max-width:767px) {
  .mobile-btn {
    display: inline;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav, #mynav{
    display: block;
    background-color:  #082745;
    margin: 0;
    padding: 10px 0;
  }

  #mynav li {
    display: block;
    padding: 15px;
  }

  header{
    display: block;
  }

  a {
    color: #1a76d0;
  }
}
